<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Локальное приватное облако</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
{#    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">#}
{#    <script src="{{ url_for('static', filename='main.js') }}"></script>#}
</head>

<body>

<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Облако</a>

    <div class="container w-75"><div class="row align-items-right w-100">
    {% if admin %}
    <div class="col-sm">
{#        <p>Использование памяти</p>#}
        <div class="progress"  style="height: 2.1rem;"
     data-toggle="popover" title="Использование памяти" data-content="And here's some amazing content. It's very engaging. Right?">
            <div class="progress-bar bg-success" id="mem_pb" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                RAM: 0%
            </div>
        </div>
    </div>

    <div class="col-sm">
{#        <p>Использование процессора</p>#}
        <div class="progress" style="height: 2.1rem;">
            <div class="progress-bar bg-success" id="cpu_pb" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                CPU: 0%
            </div>
        </div>
    </div>

    <div class="col-sm">
{#        <p>Использование процессора</p>#}
        <div class="progress" style="height: 2.1rem;">
            <div class="progress-bar bg-success" id="disk_pb" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                Disk: 0%
            </div>
        </div>
    </div>

    <div class="col-sm align-middle">
       <h2 class="m-0 align-middle"><a href="/" class="badge badge-success" id="running">0</a></h2>
    </div>

    <div class="col-sm align-middle">
       <h2 class="m-0 align-middle"><a href="/settings/" class="badge badge-success" id="running">Настройки</a></h2>
    </div>
    {% endif %}

    <div class="form-inline my-2 my-lg-0">
        {% if (current_user.is_authenticated) %}
        <span class="navbar-brand"> {{ current_user.username }} &nbsp; </span>
        <a href="/logout" class="btn btn-warning my-2 my-sm-0">Выход</a>
        {% endif %}
    </div>
    </div></div>
</nav>



<div class="container">
    {% block content %}{% endblock %}

<!--</div>-->

<!--<div class="container">-->

    {% block bottom_nav %}{% endblock %}

</div>

<div class="container">

    {% block footer %}{% endblock %}

</div>

{% if admin %}
<script>
    let mem_pg = document.getElementById("mem_pb");
    let cpu_pg = document.getElementById("cpu_pb");
    let disk_pg = document.getElementById("disk_pb");
    let running = document.getElementById("running");

    function get_params() {
        fetch('/monitor/')
            .then((response) => {
                return response.json();
            })
            .then((data) => {
                console.log(data);

                mem_pg.style.width = Math.max(20, data['mem_per']) + '%'    ;
                mem_pg.innerText = "RAM: " + data['mem_per'] + '%';
                if (data['mem_per'] > 90)
                    mem_pg.className = "progress-bar bg-danger";
                else if (data['mem_per'] > 50)
                    mem_pg.className = "progress-bar bg-warning";
                else if (data['mem_per'] <= 50)
                    mem_pg.className = "progress-bar bg-success";

                disk_pg.style.width = Math.max(20, data['disk_per']) + '%';
                disk_pg.innerText = "Disk: " + data['disk_per'] + '%';
                if (data['disk_per'] > 90)
                    disk_pg.className = "progress-bar bg-danger";
                else if (data['disk_per'] > 50)
                    disk_pg.className = "progress-bar bg-warning";
                else if (data['disk_per'] <= 50)
                    disk_pg.className = "progress-bar bg-success";

                cpu_pg.style.width = Math.max(20, data['cpu']) + '%';
                cpu_pg.innerText = "CPU: " + data['cpu'] + '%';
                if (data['cpu'] > 90)
                    cpu_pg.className = "progress-bar bg-danger";
                else if (data['cpu'] > 50)
                    cpu_pg.className = "progress-bar bg-warning";
                else if (data['cpu'] <= 50)
                    cpu_pg.className = "progress-bar bg-success";

                running.innerText = data['running'];
            });
    }

    get_params();
    setInterval(get_params, 2000);

</script>
{% endif %}

</body>
</html>