{% extends "main.html" %}
{% block content %}

{#    <h4>Добро пожаловть, {{ current_user.fullname }}!</h4>#}
    <h2>Список виртуальных машин</h2>

    <table class="table table-striped table-bordered table-sm table-hover">
        <thead class="thead-light">
        <tr>
            <th scope="col">Название</th>
            <th scope="col">Статус</th>
            <th scope="col">Команда подключения</th>
            <th scope="col">Владелец</th>
            <th scope="col">Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for vm in vms %}
            <tr class='clickable-row'>
                <td class="align-middle" scope="row">{{ vm.name }}</td>
                <td class="align-middle">{{ vm.running }}</td>
                <td class="align-middle">
                    {% if vm.running %}
                        <button onclick="copyToClipBoard('ssh -p {{ vm.port }} {{ vm.username }}@{{ hostname }}')">Copy</button>
                        <span id="{{ vm.id_string }}_connection_string">
                            ssh -p {{ vm.port }} {{ vm.username }}@{{ hostname }}
                        </span>
                    {% endif %}
                </td>
                <td class="align-middle">{{ vm.fullname }}</td>
                <td class="align-middle">
                    {% if vm.running %}
                        <a class="btn btn-warning" href="/stop/{{ vm.id_string }}"> Остановить </a>
                    {% else %}
                        <a class="btn btn-success" href="/launch/{{ vm.id_string }}"> Запустить </a>
                    {% endif %}
                    <a class="btn btn-danger" href="/delete/{{ vm.id_string }}"> Удалить </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>

    <script>

        const copyToClipBoard = (str) =>
        {
            const el = document.createElement('textarea');
            el.value = str;
            document.body.appendChild(el);
            el.select();
            document.execCommand('copy');
            document.body.removeChild(el);
        };
    </script>

{% endblock %}

{% block bottom_nav %}
    <a href="/create_vm/" class="btn btn-primary">Создать</a>
{% endblock %}